{% extends "curso/base.html" %} 



    {% block content %}
      
        
          
            <h1 class="cover-heading">Curso Opção Triunfo</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisici eli.</p>
            <br>
            <br>
            <a class="btn btn-lg btn-primary" href="{% url 'curso.views.fazer_login' %}">Entrar</a>
            <a class="btn btn-lg btn-primary" href="{% url 'curso.views.realiza_matricula' %}">Cadastro</a>
         
    
    {% endblock content %}  
	
      
    