{% extends "curso/base.html" %} 
    
    {% block content %}
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-muted">Curso Opção Triunfo</h1>
            <p class="text-danger">Lorem ipsum dolor sit amet, consectetur adipisici eli.</p>
            <br>
            <br>
            <a class="btn btn-lg btn-primary" href="{% url 'curso.views.login' %}">Entrar</a>
            <a class="btn btn-lg btn-primary" href="{% url 'curso.views.realiza_matricula' %}">Cadastro</a>
          </div>
        </div>
      </div>
    
    {% endblock content %}  
	
      
    