<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bem vindo</title>
</head>
<body>
	
	<h5><a href="{% url 'curso.views.buscar_aluno' %}">Buscar Aluno</a></h5>
	<h5><a href="{% url 'curso.views.curso' %}">Gerenciar Cursos</a></h5>
	
	<form method="POST" class="post-form" action="{% url 'curso.views.login' %}"> {% csrf_token %}
		<p>
			<label for="id_nome">Nome:</label> 
			<input id="id_nome" maxlength="200" name="nome" type="text" />
		</p>
			
		<p>
			<label for="id_nome">Senha:</label> 
			<input id="id_nome" maxlength="200" name="senha" type="password" />
		</p>
       
        <button type="submit" class="save btn btn-default">Entrar</button>

    </form>
    <h5><a href="{% url 'curso.views.realiza_matricula' %}">Realizar Matricula</a></h5>


    

</body>
</html>