{% extends "curso/base.html" %}

{% block content %}


<div class="panel panel-default">
	<div class="panel-heading"><h4>Dados Pessoais</h4></div>
	<div class="panel-body" style="color: #333; text-align: left;">
		Nome: {{ professor.first_name }} {{ professor.last_name }} <br>
		Nome de usuário: {{ professor.username }}<br>
		Data de Nascimento: {{ professor.data_de_nascimento }} <br>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><h4>Contato</h4></div>
	<div class="panel-body" style="color: #333; text-align: left;">
		Endereço: {{ professor.endereco }} <br>
		Email: {{ professor.email }} <br>
		Telefone: {{ professor.telefone }} 
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><h4>Disciplinas</h4> </div>
	<div class="panel-body" style="color: #333; text-align: left;">
		{% for disciplina in disciplinas %}
			{{ disciplina.nome }} <br>
		{% endfor %}

	</div>
</div>


<a class="btn btn-lg btn-primary" href="{% url 'curso.views.sair' %}">Sair</a>
{% endblock content %}